@tailwind base;
@tailwind components;
@tailwind utilities;

/* Link ve Buton Stilleri */
a {
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: theme("colors.accent");
}

/* Koyu Tema (Dark Mode İçin Hazır) */
.dark body {
  background-color: theme("colors.darkBg");
  color: theme("colors.darkText");
}

.dark aside {
  background-color: theme("colors.darkBg");
  border-color: theme("colors.darkBorder");
}

.dark a:hover {
  color: theme("colors.accent");
}


/* Markdown İçin Tabloların Biçimlendirilmesi */
.prose table {
  @apply table-auto border-collapse border border-gray-400 w-full;
}

.prose thead {
  @apply bg-gray-200 text-gray-900 font-semibold;
}

.prose th {
  @apply border border-gray-400 px-4 py-2;
}

.prose td {
  @apply border border-gray-400 px-4 py-2;
}

.prose tr:nth-child(even) {
  @apply bg-gray-100;
}